.telaAprovacao{
    box-shadow: 4px 0 12px rgba(0, 0, 0, 4);

}

.telaAprovacao h1{
    font-size: 30px;
    color: #000000;
    margin-top: 20px;
    margin-bottom: 20px;
}

.telaAprovacao .anuncio{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

